.digit {
  font-size: 2em;
  width: 40px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.box {
  font-family: "Courier New", monospace;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
